@{
    Layout = null;
}

<!doctype html>
<html>
    <head>
        <title>Not Found - Belletrix</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Not Found</h1>
            </div>
            <p class="lead">
                The action you just took was somehow invalid.
            </p>
            <p>Start over at the @Html.ActionLink("login page", "Index", "Login").</p>
        </div>
    </body>
</html>
