@using Belletrix.Entity.Model;

@model IEnumerable<StudyAbroadModel>

@{
    ViewBag.Title = "List";
    Html.ViewData.Add(new KeyValuePair<string, object>("ShowStudent", true));
}

@section FooterScript {
    <script>
        $(function () {
            $('#experiencelist').dataTable({
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false }
                ]
            });

            new Belletrix.Experience().bindDelete('#deleteconfirm',
                '@Url.Action("Delete", "Experience")', 'experienceid');
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Students Abroad
                <small>@Model.Count().ToString("N0") total</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("../Student/StudyAbroadList.Partial", Model, Html.ViewData)
        </div>
    </div>
}
