@model string

@{
    Layout = "~/Views/Shared/_PromoLayout.cshtml";
}

@section headerStyle {
    <style>
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
}

@section Body {
    <div class="container">
        <div class="page-header">
            <h2>There was an error processing your request.</h2>
        </div>
        <p class="lead">@Model</p>
    </div>
}
