@{
    Layout = "~/Views/Shared/_PromoLayout.cshtml";
}

@section Body {
    <div class="container">
        <div class="jumbotron">
            <h2>Thank you for completing the form</h2>
        </div>
        <hr />
        <p class="text-muted">Click @Html.ActionLink("here", "Entry") to go back to the login page.</p>
    </div>
}
