@using Belletrix.Entity.ViewModel;

@model IEnumerable<StudyAbroadViewModel>

@{
    ViewBag.Title = "List";
    Html.ViewData.Add(new KeyValuePair<string, object>("ShowStudent", true));
}

@section FooterScript {
    <script>
        $(function () {
            new Belletrix.StudyAbroad().bindDelete('@Url.Action("Delete", "StudyAbroad")', 'studyabroadid');

            $('#studyabroadlist').dataTable({
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false }
                ]
            });
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Students Abroad
                <small>@Model.Count().ToString("N0") total</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("../Student/StudyAbroadList.Partial", Model, Html.ViewData)
        </div>
    </div>
}
