<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="Production"
         connectionString="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_92352_belletrix;User ID=DB_92352_belletrix_user;Password=Me0lK@rml^cVw1%vClpz;Integrated Security=False;Encrypt=True;MultipleActiveResultSets=True;"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <Exceptional applicationName="Belletrix">
    <Email fromAddress="contact@andreinicholson.com" fromDisplayName="Belletrix" toAddress="contact@andreinicholson.com"
           xdt:Transform="Insert" />
  </Exceptional>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <authentication mode="Forms">
      <forms loginUrl="~/login/index" requireSSL="true" xdt:Transform="Replace" />
    </authentication>

    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
