@using Belletrix.Core;
@using Belletrix.Models;

@model IEnumerable<StudentModel>

@if (Model.Count<StudentModel>() > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Name Check Warning!</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <p>
                    The following students have been found with the same name.
                    Please edit them before entering a duplicate student.
                </p>

                @foreach (StudentModel student in Model)
                {
                    <a data-toggle="modal" href="@Url.Action("ViewInline", new { id = student.Id })" class="list-group-item" data-target="#dup">
                        <h4 class="list-group-item-heading">@student.FirstName @student.LastName</h4>
                        <p class="list-group-item-text">
                            Created @DateTimeFilter.UtcToLocal(student.Created)
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="dup" tabindex="-1" role="dialog" aria-labelledby="dupLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
}
