@using Belletrix.Entity.ViewModel;

@model ActivityLogViewViewModel

@if (Model != null)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Title Check Warning!</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <p>
                    The following activity log has been found with the same
                    title. Please use it rather than entering a duplicate.
                </p>

                <a href="@Url.Action("View", new { id = Model.ActivityLog.Id })" class="list-group-item">
                    <h4 class="list-group-item-heading">@Model.ActivityLog.Title</h4>
                    <p class="list-group-item-text">
                        Created @Model.ActivityLog.Created by @Model.CreatedBy.FirstName
                    </p>
                </a>
            </div>
        </div>
    </div>
}
