@using Belletrix.Entity.Model;

@model ActivityLogModel

@{
    ViewBag.Title = Model.Title + " Activity Log";
}

@section Body {
    <div class="row">
        <div class="col-lg-12 page-header">
            <h1>
                @Model.Title
                @if (!String.IsNullOrEmpty(Model.Title2))
                {
                    <small>@Model.Title2</small>
                }
            </h1>
            @if (!String.IsNullOrEmpty(Model.Title3))
            {
                <h4><small>@Model.Title3</small></h4>
            }
        </div>
    </div>
}
