@using Belletrix.Entity.ViewModel;

@model ActivityLogViewViewModel

@{
    ViewBag.Title = Model.ActivityLog.Title + " Activity Log";
}

@section Body {
    <div class="row">
        <div class="col-lg-12 page-header">
            <h1>
                @Model.ActivityLog.Title
                @if (!String.IsNullOrEmpty(Model.ActivityLog.Title2))
                {
                    <small>@Model.ActivityLog.Title2</small>
                }
            </h1>
            @if (!String.IsNullOrEmpty(Model.ActivityLog.Title3))
            {
                <h4><small>@Model.ActivityLog.Title3</small></h4>
            }
        </div>
    </div>
}
